@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

.hamburger {
  display: none;
}

header {
  height: 51px;
  background-color: #212121;
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px 0px 70px;
  margin-bottom: 13px;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: none;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.call {
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  background-color: #00d6fc;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 19px;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.call:hover {
  background-image: none;
  background-color: blue;
}

.number {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 12px;
  text-align: right;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  margin-top: 8px;
  display: block;
}

.callus {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  display: block;
  margin-top: 23px;
}

.partner {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Roboto - Thin";
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 6px;
}

.subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  margin-top: 16px;
}

.promo {
  display: block;
  background: url(../src/img/car.jpg) center center/cover no-repeat;
  min-height: 800px;
}

h1 {
  display: block;
  margin-top: 80px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 220px;
}

.drivers {
  font-family: "Roboto - Black";
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  font-family: "Roboto - Bold";
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 0px 31px;
}

.request {
  width: 259px;
  height: 63px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid rgba(0, 0, 0, 0.07);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin: 0 auto;
  display: block;
  margin-top: 110px;
  background-color: #00d6fc;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.request:hover {
  background-image: none;
  background-color: blue;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 35px;
  border-radius: 100%;
}

.reason {
  width: 341px;
  color: #202020;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: justify;
  float: right;
  margin-left: 26px;
  line-height: 21px;
}

.header {
  color: #1eacc7;
  font-family: "Roboto - Regular";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.icons {
  padding-left: 35px;
  padding-right: 43px;
}

.sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /** margin-right: 20px **/
}

.zagolovok {
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 30px;
}

.container {
  width: 1140px;
}

.zhopa {
  display: block;
  color: #ffffff;
  font-family: "Roboto - Thin";
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  /* Text style for "преимущест" */
  font-style: normal;
  letter-spacing: normal;
  background-color: black;
  width: 114px;
  margin: 0 auto;
  margin-top: 71px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile {
  min-height: 864px;
  background: url(../src/img/bcgi.png);
}

.mobile .row {
  margin-top: 32px;
}

.mobile .row .block {
  margin: 0 auto;
  width: 320px;
  height: 280px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

.mobile .row .block_1 {
  background: url(../src/img/item1.png);
}

.mobile .row .block_2 {
  background: url(../src/img/item2.png);
}

.mobile .row .block_3 {
  background: url(../src/img/item3.png);
}

.mobile .row .block_4 {
  background: url(../src/img/item4.png);
}

.mobile .row .block_5 {
  background: url(../src/img/item5.png);
}

.mobile .row .block_6 {
  background: url(../src/img/item6.png);
}

.mobile .row .block .item_text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.mobile .row .block .round {
  position: absolute;
  top: 225px;
  background-color: #000000;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .row .block .round .plus {
  width: 60%;
  height: 60%;
}

.possible {
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto - Thin";
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  margin: 0 auto;
  line-height: 24px;
  margin-top: 48px;
}

.app {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 38px;
}

.subapp {
  color: black;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.promote {
  background: url(../src/img/bcgc.png) center center/cover no-repeat;
  min-height: 896px;
  padding-top: 56px;
  padding-bottom: 140px;
}

.promote .carlogo {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
}

.promote .subtext {
  color: #222222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.promote .opportun {
  width: 112px;
  height: 24px;
  background-color: white;
  font-family: "Roboto - Thin";
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin: 0 auto;
}

.promote .choice {
  color: #ffffff;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 40px;
}

.promote .subchoice {
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.bullet {
  min-height: 920px;
  padding-top: 60px;
}

.bullet .requirements {
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 41px;
}

.bullet .block_1 .header {
  color: #1ca8c3;
  font-family: "Roboto - Regular";
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 33px;
}

.bullet .block_1 li {
  margin-top: 9px;
}

.bullet .block_1 li .vodila {
  margin-left: 30px;
}

.bullet .block_1 li:before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  background: url(../src/img/Layer_31_copy_14.jpg);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 4px;
}

.bullet .block_2 .header {
  color: #1ca8c3;
  font-family: "Roboto - Regular";
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 33px;
}

.bullet .block_2 li {
  margin-top: 9px;
}

.bullet .block_2 li .vodila {
  margin-left: 30px;
}

.bullet .block_2 li:before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  background: url(../src/img/Layer_31_copy_14.jpg);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 4px;
}

.bullet .block_3 {
  margin-top: 62px;
}

.bullet .block_3 .header {
  color: #ff5656;
  font-family: "Roboto - Regular";
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.bullet .block_3 li {
  margin-top: 9px;
}

.bullet .block_3 li .vodila {
  margin-left: 30px;
}

.bullet .block_3 li:before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  background: url(../src/img/Layer_31_copy_7.png);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 4px;
}

.bullet .block_4 {
  margin-top: 60px;
}

.bullet .block_4 .header {
  color: #ff5656;
  font-family: "Roboto - Regular";
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.bullet .block_4 li {
  margin-top: 9px;
}

.bullet .block_4 li .vodila {
  margin-left: 30px;
}

.bullet .block_4 li:before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  background: url(../src/img/Layer_31_copy_7.png);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 4px;
}

.bullet .text .conditions {
  list-style-type: none;
  padding-left: 25px;
  margin-top: 22px;
}

.bullet .text .conditions .firstline:before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.bullet .text .subtext {
  color: #1ca8c3;
  font-family: "Roboto Light";
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.countries {
  background: url(../src/img/countries.jpg) center center/cover no-repeat;
  min-height: 717px;
  padding-top: 49px;
  padding-bottom: 49px;
}

.countries .container .opportun {
  width: 112px;
  height: 24px;
  background-color: white;
  font-family: "Roboto - Thin";
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin: 0 auto;
}

.countries .container .world {
  color: #ffffff;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 32px;
}

.countries .container .subheader {
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  background: none;
}

.countries .container .footer {
  color: #1fbad6;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 486px;
}

footer {
  min-height: 156px;
  position: relative;
}

footer .media {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  left: 23px;
}

footer .media_item {
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .media_item i {
  color: white;
}

footer .icons {
  position: absolute;
  right: 25px;
  top: 45px;
}

footer .container .russian {
  color: #1fbad6;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 20px;
}

footer .container .line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
  margin-top: 14px;
}

footer .container .menushka {
  width: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

footer .container .menushka .menushka_item {
  color: #070716;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

footer .container .menushka .menushka_item a {
  text-decoration: none;
  color: #070716;
}

footer .container .submenushka {
  width: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

footer .container .submenushka .submenushka_item {
  color: #999999;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

footer .container .submenushka .submenushka_item a {
  text-decoration: none;
  color: #999999;
}

@media (max-width: 1200px) {
  .menu_link {
    font-size: 13px;
  }
  .menu_item {
    padding-right: 20px;
  }
  header .number {
    font-size: 17px;
  }
  .work .sec {
    margin-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .work .sec .reason {
    width: 300px;
  }
  .work .sec .reason_4 {
    margin-top: 17px;
  }
  .work .sec .reason_1 {
    margin-top: 5px;
  }
  .work .sec .reason_5 {
    margin-top: 5px;
  }
  .work .icons {
    padding: 0 0 0 0;
  }
  .zagolovok {
    font-size: 35px;
  }
  .zhopa {
    width: 0%;
  }
}

@media (max-width: 991px) {
  .menu_item {
    border: none;
  }
  .menu_link {
    font-size: 9px;
  }
  .menu_item {
    padding-right: 10px;
  }
  header .logo {
    width: 100%;
  }
  header .numberblock {
    margin-left: 45px;
  }
  header .number {
    font-size: 17px;
  }
  header .call {
    width: 120px;
    height: 40px;
    margin-top: 25px;
    font-size: 9px;
  }
  .work .sec {
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .sec_6 {
    margin-top: 42px;
  }
  .work .sec_8 {
    margin-top: 21px;
  }
  .work .sec .reason {
    width: 300px;
    /** &_6
                    margin-top: 15px **/
  }
  .work .sec .reason_8 {
    margin-top: 17px;
  }
  .work .sec .reason_4 {
    margin-top: 17px;
  }
  .work .sec .reason_1 {
    margin-top: 5px;
  }
  .work .sec .reason_5 {
    margin-top: 5px;
  }
  .work .icons {
    padding: 0 0 0 0;
  }
  .zagolovok {
    font-size: 35px;
  }
  .zhopa {
    width: 0%;
  }
  .promo h1 {
    font-size: 30px;
  }
  .promo .drivers {
    font-size: 28px;
  }
  .promo .descr {
    font-size: 15px;
  }
  .mobile .row .block {
    width: 230px;
  }
  .mobile .row .block .item_text {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  header .subheader {
    position: relative;
  }
  header .logo {
    width: 100%;
    margin-top: 53px;
  }
  header .numberblock {
    margin-left: 25px;
    height: 25px;
  }
  header .number {
    top: 9px;
    right: 47px;
    position: absolute;
  }
  header .call {
    width: 120px;
    height: 32px;
    font-size: 9px;
    margin-bottom: 1px;
    right: 50px;
    position: absolute;
    top: 26px;
  }
  header .callus {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 26px;
  }
  .hamburger span {
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active {
    margin-top: 13px;
  }
  .hamburger_active span {
    margin-top: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .work .icons {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 25%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    list-style-type: none;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_link {
    font-size: 12px;
  }
  .partner {
    display: none;
  }
  .mobile .row .block {
    width: 164px;
    height: 200px;
  }
  .mobile .row .block .round {
    top: 145px;
  }
  .mobile .row .block .item_text {
    font-size: 15px;
  }
  .carlogo {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0;
  }
  .zagolovok {
    font-size: 28px;
  }
  .reason {
    font-size: 14px;
    width: 200px;
  }
  .descriptionheader {
    width: 100vw;
  }
  .container {
    width: 100vw;
  }
  header .subheader {
    position: relative;
  }
  header .logo {
    width: 100%;
    margin-top: 54px;
    margin-left: 10px;
  }
  header .numberblock {
    margin-left: 25px;
    height: 25px;
  }
  header .number {
    margin-left: 25px;
    height: 25px;
  }
  header .call {
    width: 120px;
    height: 32px;
    font-size: 9px;
    margin-bottom: 1px;
    right: 25px;
    top: 26px;
  }
  header .callus {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 26px;
  }
  .hamburger span {
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active {
    margin-top: 13px;
  }
  .hamburger_active span {
    margin-top: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .work .sec {
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    padding-right: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .sec_6 {
    margin-top: 42px;
  }
  .work .sec_8 {
    margin-top: 21px;
  }
  .work .sec .reason {
    width: 250px;
    margin-left: 0px;
  }
  .work .sec .reason_8 {
    margin-top: 17px;
  }
  .work .sec .reason_4 {
    margin-top: 17px;
  }
  .work .sec .reason_1 {
    margin-top: 5px;
  }
  .work .sec .reason_5 {
    margin-top: 5px;
  }
  .work .icons {
    display: block;
  }
  .work .sec {
    width: 100vw;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 25%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    list-style-type: none;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_link {
    font-size: 12px;
  }
  .partner {
    display: none;
  }
  .mobile .row .block {
    width: 30vw;
    height: 200px;
  }
  .mobile .row .block .round {
    top: 145px;
  }
  .mobile .row .block .item_text {
    font-size: 10px;
  }
  .carlogo {
    width: 100%;
  }
}

@media (max-width: 319px) {
  .zagolovok {
    font-size: 13px;
  }
  .reason {
    font-size: 13px;
  }
  .descriptionheader {
    width: 100vw;
  }
  .container {
    width: 100vw;
  }
  header .subheader {
    position: relative;
  }
  header .logo {
    width: 100%;
    margin-top: 58px;
    height: 20px;
  }
  header .numberblock {
    margin-left: 25px;
    height: 25px;
  }
  header .number {
    margin-left: 25px;
    height: 25px;
  }
  header .call {
    width: 120px;
    height: 32px;
    font-size: 9px;
    margin-bottom: 1px;
    right: 25px;
    top: 26px;
  }
  header .callus {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 26px;
  }
  .hamburger span {
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active {
    margin-top: 13px;
  }
  .hamburger_active span {
    margin-top: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .work .icons {
    display: block;
  }
  .work .sec {
    width: 100vw;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 25%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    list-style-type: none;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_link {
    font-size: 12px;
  }
  .partner {
    display: none;
  }
  .mobile .row .block {
    width: 30vw;
    height: 150px;
  }
  .mobile .row .block .round {
    top: 115px;
  }
  .mobile .row .block .item_text {
    font-size: 11px;
  }
  .carlogo {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */